{require_otp_vsn, "R14B04|R15B02|R15B03"}.

{erl_opts, [{d, 'NOTEST'},
            warn_obsolete_guard,
            warn_unused_import,
            warnings_as_errors,
            warn_shadow_vars,
            warn_export_vars,
            warn_export_all]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, []}.

{port_specs, [
    {"priv/cherly.so", ["c_src/*.c"]}]}.

{port_env, [
             {"CFLAGS", "$CFLAGS -fPIC -g -O2"},
             {"DRV_CFLAGS", "$DRV_CFLAGS --Wno-unused-function -Wno-strict-aliasing -Wno-pointer-to-int-cast -Ic_src"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS "}
             ]}.

